@font-face {
    font-family: 'Quicksand';
    src: url('./fonts/Quicksand-Light.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Quicksand';
    src: url('./fonts/Quicksand-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Quicksand';
    src: url('./fonts/Quicksand-Regular.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Quicksand';
    src: url('./fonts/Quicksand-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Colmeak';
    src: url('./fonts/Colmeak.otf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

/* Variables CSS para colores */
:root {
    --color-primary: #64A85F;
    --color-primary-text: #000000;
    --color-secondary-text: #FFFFFF;
}

body {
    font-family: 'Quicksand', sans-serif;
}